* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    background-color: #eaeaea;
}

#mount-point {
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    /*-webkit-flex-direction: column;*/
        /*-ms-flex-direction: column;*/
    flex-direction: column;
    /*-webkit-box-align: center;*/
    /*-webkit-align-items: center;*/
        /*-ms-flex-align: center;*/
    align-items: center;
}

.to-do-list {
    width: 300px;
    border: 1px solid black;
    padding: 5px;
}

.record-add {
}

ul {
    list-style-type: none;
    padding: 0;
}

.record {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.record-marker {
    flex-basis: 23px;
}

.marker-new {
    width: 18px;
    height: 18px;
    border: 1px solid black;
    cursor: pointer;
}

.marker-ok {
    width: 18px;
    height: 18px;
    border: 1px solid darkgreen;
    background-color: lightgreen;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}

.record-text {
    flex: 1;
    word-break: break-all;
}

.text-new {
    text-decoration: none;
}

.text-ok {
    text-decoration:line-through;
}

.record-delete {
    /*flex: 1;*/
    flex-basis: 5px;
    text-align: right;
    cursor: pointer;
}